@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Merriweather:wght@300;400&display=swap');

:root {
    --purple: #6C63FF;
    --light-purple: #D7D4FF;
    --white:#FFFFFF;
    --white-200: #F9F9F9;
    --gray: #555555;
    --dark-gray: #2A2A2A;
    
    --title-font: 'Merriweather', serif;
    --paragraph-font: 'Lato', sans-serif;

    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;

    background-color: var(--light-purple);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    max-width: 1100px;

    padding: 5rem 2rem;
}

.header_text {
   max-width: 40rem;
}

.header_text h1 {
    font-family: var(--title-font);
    font-size: 3.6rem;

    margin-bottom: 1.75rem;
}

.header_text p {
    font-family: var(--paragraph-font);
    font-size: 1.9rem;

    margin-bottom: 4.5rem;
}

.header_img {
    max-width: 30rem;
}

.header_img img {
    width: 100%;
}

/* ============================================================================== */

main {
    width: 100%;
    background-color: var(--white-200);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6.8rem 11.1rem;
    justify-items: center;

    margin: 0 auto;

    max-width: 1100px;

    padding: 15rem 2rem;
}

.card {
    max-width: 30rem;
}

.card_color {
    width: 100%;
    padding: 10rem 0rem;
}

.card_text {
    width: 100%;
    background-color: var(--white);
    padding: 2.4rem 2rem;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card_text h2 {
    font-size: 2.4rem;
    font-family: var(--title-font);

    margin: 2rem 0rem 2.2rem 0rem;
}

.card_text p {
    font-size: 1.8rem;
    font-family: var(--paragraph-font);

    line-height: 2.5rem;

    margin-bottom: 2rem;
}

#card_color1 {
    background-color: #FF6363;
}

#card_color2 {
    background-color: #63ECFF;
}

#card_color3 {
    background-color: #F363FF;
}

#card_color4 {
    background-color: #63FF73;
}

#card_color5 {
    background-color: #FFDD63;
}

#card_color6 {
    background-color: #6663FF;
}

/* ============================================================================== */

footer {
    background-color: var(--light-purple);
}

footer section {
    display: flex;
    flex-direction: column;
    align-items:center;

    padding: 8.5rem 2rem 0 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

section h2 {
    font-family: var(--title-font);
    font-size: 3.2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6rem 2rem 6rem 2rem;

    border-radius: 0.6rem;
    border: none;
}

textarea {
    width: 47rem;
    margin-top: 1.5rem;
    height: 16.5rem;
}


.form-inputs-button {
    height: 6.5rem;
    width: 47rem;
    margin-top: 1.5rem;
}

::placeholder {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
}

.button-mensage {
    margin-top: 3rem;
}

.button-style {
    font-size: 2rem;
    font-family: var(--paragraph-font);
    font-weight: 700;

    padding: 1.2rem 5rem;

    border-radius: 0.5rem;
    border: none;

    cursor: pointer;

    background-color: var(--purple);
    color: var(--white);
}

/* ============================================================================== */

@media (max-width: 1000px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .header_container {
        justify-content: center;
        text-align: center;
    }
    .header_img img {
        display: none;
    }
}